/*         Header         */
/*########################*/
header{
    background-color:#3A69D2;
    color: white;
    margin-top: 0;
    height: 250px;
}

header h1{
    margin: 0;
    padding-top: 25px;
}

/*    Header - MenuButtons    */
/*############################*/

.menuButtonsCon{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
}

.invoiceMenuBtn,
.addInvoiceBtn,
.editInvoiceBtn,
.previewInvoiceBtn,
.sendInvoiceBtn,
.saveInvoiceBtn,
.printInvoiceBtn,
.downloadInvoiceBtn{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.addInvoiceBtn {
    background-color: lightgreen;
    color: black;
}

.invoiceMenuBtn {
    background-color: lightblue;
    color: black;
}

.editInvoiceBtn{
    background-color: lightcoral;
}

.saveInvoiceBtn{
    background-color: yellow;
    color: black;
}

.printInvoiceBtn {
    background-color: lightblue;
    color: black;
}

.downloadInvoiceBtn {
    background-color: lightgreen;
    color: black;
}

.previewInvoiceBtn{
    display: flex;
    align-items:center;
    background-color: darkseagreen;
    width: 200px;
    color: white;
}

.previewInvoiceBtn img{
margin-right: 15px;
}

.sendInvoiceBtn{
    display: flex;
    align-items: center;
    background-color: #3A69D2;
    border: 5px solid #1F2937;
    color: white;
    width: 200px;
}

.sendInvoiceBtn img{
    margin-right: 20px;
}