/*          InvoiceTasks                 */
/*#######################################*/

.main{
    color: white;
}


#addTaskBtn{
    background-color: rgba(255,255,255,0);
    width: auto;
}

#deleteTaskBtn{
    background-color: rgba(255,255,255,0);
    width: auto;
}

#editTaskBtn{
    background-color: rgba(255,255,255,0);
    width: auto;
}

#saveTaskBtn {
    background-color: rgba(255,255,255,0);
    width: auto;
}

.divCon3 {
    margin-top: -15px;
    margin-left: 15px;
    display: flex;
    justify-content: flex-start;
}

.divCon3 button{
    height: 50px;
    width: 200px;
    margin-top:25px; 
    background-color: lightgray;
    border-radius: 5px;
    border: none;
}

/* InvoiceTasks Notes & Total  */
/*############################*/

.divCon1 span{
    margin-top: 10px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 35px;
    color: white;
}

.divCon2{
    display: flex;
    justify-content: space-between;
}

.divCon2 button{
    border: none;
    margin-bottom: 0.5%;
}

.divCon2 .spanLeft{
    color:white;
    padding-left: 1%;
}

.divCon2 .spanRight{
    color: white;
    padding-right: 1%;
}

#spanH3Date{
    color: white;
    width: auto;
    text-align: center;
    margin-left: 1%; 
}

#spanH3Task{
    color: white;
    width: auto;
    text-align: center;
    margin-left: 9%;
}

#spanH3Unit{
    color: white;
    width: auto;
    margin-left: 19%;
}

#spanH3Quantity{
    color: white;
    width: auto;
    margin-left: 4%;
}

#spanH3Price{
    color: white;
    width: auto;
    margin-left: 7%;
}

#spanH3Total{
    color: white;
    width: auto;
    margin-left: 40%; 
}