/*          Task              */
/*############################*/

.taskConInputs{
    display: flex;
    flex-direction: row;

}
.taskConInputFlex{
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
}
.taskConInputFlex input{
    width: 300px;
}


.taskInput{
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.taskConDate,
.taskConTask,
.taskConUnit,
.taskConPrice,
.taskConTotal,
.taskConQuantity{
    display: flex;
    flex-direction: column;
    margin:10px 10px 0 20px; 
}

.taskConDate{
    width: 10%;
}
.taskConTask{
    width: 20%;
}
.taskConUnit{
    width: 5%;
}
.taskConPrice{
    width: 10%;
}
.taskConQuantity{
    width: 10%;
}
.taskConTotal{
    width: 5%;
    margin-left:22%;
}
#tasks{
    list-style: none;
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
    text-align: left;
}

#summary{
    list-style: none;
    font-weight: bold;
    font-size: 25px;
    padding-right: 20px;
    text-align: right;
}