/*         General            */
/*############################*/

body{
    margin: 0;
    background-color:#1F2937;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.app{
    display: flex;
    flex-direction: column;

}

hr{
    color: white;
    padding: 0;
    width: 90%;
}

.ml20{
    margin-left: 20px;
}

mr20{
    margin-right: 20px;
}

.ns{
    border: none;
}

.w{
    color: white;
}

.mt20{
    margin-top: 20px;
}
.mb20{
margin-bottom: 20px;
}


